#rootNode {
  border: black solid 1px;
}

.childWrapper{
  display: flex;
}

.childContentWrapper {
  flex-grow: 1;
  margin: 5px 1% 5px 3px;
  border: darkred inset 2px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: rgb(210, 210, 210);
}

.btn {
  font-size: large;
  border-radius: 12px;
  padding: 10px 16px;
}

/* .childHeader{

} */

.editBtnsBar{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.deleteBtn {
  color: black;
  background-color: rgb(211, 35, 35);
  border: 2px groove rgb(121, 0, 0)
}

.deleteBtn:hover {
  background-color: rgb(240, 30, 30);
  color: white;
}

.submitBtn{
  display:flex;
  color: #ffffff;
  background-color: #f57a00;
  border-color: #f57a00;
  border: rgb(189, 106, 5) groove 2px;
  min-width: 93px;
  width: 30vw;
  margin-right: 20px;
  align-content: flex-start
}

.submitBtn:hover{
  color: #eeeeee;
  background-color: #dd6f01;
}

.editBtn{
  color: Black;
  background-color: rgb(231, 255, 250);
  border: 2px groove rgb(121, 121, 121);
  max-height: 100px;
}

.editBtn:hover{
  color: darkslategrey
}

.editBtn:focus{
  color: black
}

.editForm{
  flex-grow:1;
  margin: auto 10px;
  border: slategray 2px outset;
  padding: 5px;
  background-color: rgb(240,240,240);
}

.editWarning{
  color: #333333;
  font-weight: bold;
}
.factName{
  font-size: 24px;
  color: Black;
}

.gcSpacerBlockRight{
  flex-grow:1;
}
.gcSpacerBlockLeft{
  width: 194px;
}

.gcValue{
  margin-left: 10px;
  color: black;
  font-weight: bold;
}

.grandchildWrapper {
  display: flex;
  margin: 5px 1% 2px 2px;
}

.grandchildContentWrapper {
  flex-grow: 1;
  margin: 3px 40% 3px 3px ;
  border: slateblue inset 2px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.headerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inline{
  display: inline-block;
}

.pipeBracket{
  align-self: flex-start;
  background-image: url('../../assets/images/pipe.png');
  height: 30px;
  width: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2%;
}

.pipeBracket.gcPipe{
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
}

.rootNodeTitle{
  margin-left: 15px;
}