.hasError {
  border-color:darkred;
  border-style: groove;
  border-width:2px;
  background-color: rgba(107, 0, 0, 0.15)
}

.btnClose{
  background-color: grey;
  color: white
}

.btnClose:hover{
  background-color: rgb(83, 83, 83);
}

.btnSubmit{
  background-color: rgb(0, 0, 182);
  color: white
}

.btnSubmit:hover{
  background-color: rgb(0, 0, 110);
}

.modalBtnBar{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}